{% extends "base.html" %}

{% block content %}
    <div class=row>
        <section id="content" class="body twelve columns">
            <section class="post-info">
                <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                <ul>
                    {% for tag in article.tags %}
                        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </section><!-- /.post-info -->
            <header>
                <h2 class="entry-title">
                    <a href="{{ article.url }}" rel="bookmark"
                       title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
            </header>
            <div class="entry-content">
                {{ article.content }}
            </div><!-- /.entry-content -->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'protractile'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
    </div>
{% endblock %}
